eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

xset +fp $HOME/.local/share/fonts
xset fp rehash

setxkbmap gb -variant colemak

emacs --daemon &
tmux new-session -d
dropbox start -i